.breadcrumb {
  padding: 20px 80px;
  background-color: #444;

  .ant-breadcrumb-separator {
    color: #fff;
  }

  .ant-breadcrumb-link {
    color: #ccc;
  }

  .ant-card-head {
    background-color: #f6f6f6;
  }
}