.message-page {

  .mark-btn {
    margin-bottom: 20px;
  }

  .info-card {
    margin-bottom: 20px;

    .info-value {
      font-size: 17px;
      color: #333;
    }

    .info-signature {
      font-style: oblique;
    }

    .message-item {
      border-bottom: 1px solid #ddd;
      padding: 10px 15px;

      &:last-child{
        border: 0;
      }
    }

    .topic-link {
      color: #08c;

      &:hover {
        color: #035d8a;
      }
    }
  }

  .ant-card-wider-padding .ant-card-body {
    padding: 0;
  }

  .ant-card-body {
    padding: 0;
  }

  .ant-card-head {
    background: #eaecec;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
  }

  .ant-card-bordered {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
  }
}