.topic-detail {
  display: flex;
  padding: 20px 30px;
  width: 100%;
  box-sizing: border-box;

  .topic-info {
    flex: 7;

    .topic-item {
      margin-top: 20px;
    }
  }

  .article {
    flex: 3;
    margin-left: 20px;

    .no-reply-topic {
      padding: 10px 15px;
      font-size: 15px;

      &:not(:last-child) {
        border-bottom: 1px solid #ddd;
      }
    }

    a {
      color: #333;
    }
  }

  .topic-level {
    background: #80bd01;
    padding: 6px 12px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    margin-right: 10px;
  }

  .info-item {
    margin-right: 4px;

    &::before {
      content: '•';
    }
  }

  .topic-info {
    margin-bottom: 10px;

    .topic-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  ul {
    list-style: initial;
  }

  ol {
    list-style: decimal;
  }

  .reply-btn {
    margin-top: 10px;
  }

  .no-reply-item {
    margin: 20px 0;

    .ant-card-body {
      padding: 0;
    }
  }
  .ant-card-head {
    background: #B5CAC6;
  }

  .loading {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
}

.detail-page {
  width: 100vw;
  height: 100vh;

  .comment {
    .ant-card-body {
      padding: 0;
    }
  }

  a {
    color: #108ee9;
  }
  
  .ant-card-head-title {
    width: 100%;
  }

  @media (max-width: 1000px) {
    .topic-detail {
      flex-direction: column;
    }
  
    .article {
      margin: 0;
    }
  }
}