.topic-item {
  margin-bottom: 20px;

  .topic-content {
    display: flex;
  }

  .avatar_img {
    width: 50px;
    height: 50px;
  }

  .topic-title {
    flex: 1;
    padding: 10px 20px;
  }

  a {
    color: #000;
  }

  a:hover {
    text-decoration: underline;
  }

  .ant-card-head {
    background: #79B9DA;
  }
}